[submodule "pack/my-plugins/start/fzf.vim"]
	path = pack/my-plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/my-plugins/start/lightline.vim"]
	path = pack/my-plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/my-plugins/start/vim-multiple-cursors"]
	path = pack/my-plugins/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "pack/my-plugins/start/nerdtree"]
	path = pack/my-plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/my-plugins/start/vim-javascript"]
	path = pack/my-plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "pack/my-plugins/start/vim-jsx"]
	path = pack/my-plugins/start/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "pack/my-plugins/start/vim-flake8"]
	path = pack/my-plugins/start/vim-flake8
	url = git@github.com:nvie/vim-flake8.git
